@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="CityMaster" method="post">
    <input type="hidden" id="hiddenId" name="Id" />
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">City Master</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />
            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">City Master</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">
                                                        <label class="control-label">State Name</label>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <select name="State" id="State" class="form-control" required>
                                                            @*<option value="">Select State</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                                <option value="Transgender">Transgender</option>*@
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">City Name</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="CityName" name="CityName" class="form-control" placeholder="City name" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="~/Admin/CityMaster" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="panel" data-fill-color="true">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tableCity"></table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel -->
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        fillState();

        var tableCity = $("#tableCity").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ordering": false,
            "pageLength": 10,
            "PaginationType": 'full_numbers',
            "ajax": {
                "url": "/Admin/GetAllCityList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": null, "name": "srNumber", "autoWidth": true, "title": "Sr. No" },
                { "data": "StateName", "name": "StateName", "autoWidth": true, "title": "State Name" },
                { "data": "CityName", "name": "CityName", "autoWidth": true, "title": "City Name" },
                {
                    "title": "Action",
                    "render": function (data, type, full, meta) {
                        var htmlDOM = "";
                        htmlDOM = '<div class="form-group mt-lg">' +
                            '<div class="btn-divider mr-2x mb-1x" role="divider">' +
                            "<a id='lnkEdit' class='btn btn-primary' onclick='javascript:EditCity(" + full.StateId + "," + full.CityId + ",\"" + full.CityName.trim() + "\")' href='#'> Edit</a>" +
                            '<span class="label-divider" id="Span1">or</span>' +
                            '<a id="lnkDelete" class="btn btn-danger" onclick="javascript:return openDialogue(' + full.CityId + ');" href="#" data-url="DeleteCity">Delete</a>' +
                            '</div>' +
                            '</div>';
                        return htmlDOM;
                    }
                }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                var pageNumber = 0;
                $.each($('.paginate_button'), function (index, button) {
                    if ($(this).css('background-image') == 'linear-gradient(rgb(88, 88, 88) 0%, rgb(17, 17, 17) 100%)') {
                        pageNumber = $(this).html()
                    }
                });
                if (pageNumber == 0) {
                    $("td:first", nRow).html((pageNumber * info.length) + iDisplayIndex + 1);
                }
                else {
                    pageNumber = pageNumber - 1;
                    $("td:first", nRow).html((pageNumber * info.length) + iDisplayIndex + 1);
                }

                return nRow;
            },
        });
        var info = tableCity.page.info();
        $("#tableCity_filter input")
            .unbind() // Unbind previous default bindings
            .bind("input", function (e) { // Bind our desired behavior
                // If the length is 2 or more characters, or the user pressed ENTER, search
                if (this.value.length >= 2 || e.keyCode == 13) {
                    // Call the API search function
                    tableCity.search(this.value).draw();
                }
                // Ensure we clear the search if they backspace far enough
                if (this.value == "") {
                    tableCity.search("").draw();
                }
                return;
            });
    })
    function fillState() {
        let dropdown = $('#State');
        dropdown.empty();
        dropdown.append('<option value="">Select State Name</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetStates',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.StateId).text(entry.StateName));
                });
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function EditCity(StateId, Id, CityName) {
        $('#hiddenId').val(Id);
        $('#btnSave').val('Update');
        $('#CityName').val(CityName);
        $('#State').val(StateId);
    }
</script>