
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ============================================
MAIN CONTENT SECTION
=============================================== -->
<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-bar">
            <ul class="breadcrumb breadcrumb-angle">
                <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                <li class="active">Dashboard</li>
            </ul>
        </div><!-- /.content-bar -->
        <hr />

        <div class="content-body">
            <!-- RESUME BLOCK -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        @*<img class="embed-responsive-item" src="~/images/dummy/desk3.jpg" alt="cover" />*@
                        <img class="embed-responsive-item" src="../../images/dummy/desk3.jpg" />

                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">Home Page</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="#"><i class="icon-eye fa-fw"></i> Slider Change</a>
                            </div>
                            <div>
                                <a href="#" class="mr-1x"><i class="icon-share fa-fw"></i> News</a>
                                <a href="#"><i class="icon-star fa-fw"></i> Events</a>
                                <a href="#"><i class="icon-star fa-fw"></i> Tenders</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        <img class="embed-responsive-item" src="~/images/dummy/Circular.png" alt="cover">
                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">GO's and Circular</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="#"><i class="icon-eye fa-fw"></i> Add GO's and Circular </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        <img class="embed-responsive-item" src="~/images/dummy/job.jpg" alt="cover" />
                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">Job Portal</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="#" class="mr-1x"><i class="icon-share fa-fw"></i> Job Registration List</a>
                            </div>
                            <div>
                                <a href="#"><i class="icon-star fa-fw"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        <img class="embed-responsive-item" src="~/images/dummy/services.jpg" alt="cover">
                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">Services</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="#"> <i class="icon-eye fa-fw"></i> Add Services</a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        <img class="embed-responsive-item" src="~/images/dummy/enquiry.jpg" alt="cover">
                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">Enquiry</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="#" class="mr-1x"><i class="icon-share fa-fw"></i> Enquiry List</a>
                            </div>
                            <div>
                                <a href="#"><i class="icon-star fa-fw"></i> Contact Us </a>
                                <a href="#"><i class="icon-star fa-fw"></i> Feedback </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-16by9 text-light">
                        <img class="embed-responsive-item" src="~/images/dummy/gallery.jpg" alt="cover">
                        <div class="embed-overlay bg-grd-dark"></div>
                        <div class="embed-content">
                            <p class="lead"><a href="#">Gallery</a></p>
                        </div>
                        <div class="embed-bar embed-bar-bottom">
                            <div class="pull-right">
                                <a href="AddBlog.aspx"><i class="icon-eye fa-fw"></i> Add Gallery </a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<img src="~/images/welcome.jpg" class="img-responsive"/>-->
        </div>


        <div class="clearfix"></div>

        <!-- customModal2 -->
        <div class="modal" id="customModal2" data-transition="flipXIn" tabindex="-1" role="dialog" aria-labelledby="modalBasicLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0 12px">
                        <div class="row">
                            <div class="clearfix">
                                <button type="button" class="btn btn-xs btn-icon pull-right" data-dismiss="modal" aria-hidden="true"><i class="icon_close fa-2x"></i></button>

                                <div class="modal-header" style="background-color:#fff;">
                                    <h4 class="modal-title" id="modalBasicLabel">Reset Password</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group has-feedback">
                                        <div class="input-group input-group-in">
                                            <span class="input-group-addon"><i class="icon-user"></i></span>
                                            <input type="text" id="txtusername" class="form-control" placeholder="Username" "  />
                                            <span class="form-control-feedback"></span>
                                        </div>
                                    </div><!-- /.form-group -->
                                    <div class="form-group has-feedback">
                                        <div class="input-group input-group-in">
                                            <span class="input-group-addon"><i class="icon-key"></i></span>
                                            <input type="password" id="txtoldpassowrd" class="form-control" placeholder="Old Password" "  />
                                            <span class="form-control-feedback"></span>
                                        </div>
                                    </div><!-- /.form-group -->
                                    <div class="form-group has-feedback">
                                        <div class="input-group input-group-in">
                                            <span class="input-group-addon"><i class="icon-key"></i></span>
                                            <input type="password" id="txtnewpassword" class="form-control" placeholder="New Password" "  />
                                            <span class="form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <div class="input-group input-group-in">
                                            <span class="input-group-addon"><i class="icon-check"></i></span>
                                            <input type="password" id="txtconfirmpassword" class="form-control" placeholder="Confirm Password" "  />
                                            <span class="form-control-feedback"></span>
                                        </div>
                                    </div><!-- /.form-group -->
                                </div>

                                <div class="modal-footer">
                                    <input id="btnCancel" type="button" name="cancel" value="Cancel" class="btn btn-default" data-dismiss="modal" "  />
                                    <input id="btnlogin" type="submit" name="submit" value="Save Changes" class="btn btn-primary" "  />
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Template Setups -->
        <div class="modal fade" id="templateSetup">
            <div class="modal-dialog">
                <!-- modal-content -->
                <div class="modal-content"></div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.templateSetup -->


    </div>
    <!-- /.content -->
</section><!-- /MAIN -->
