@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var goCircularTemp = ViewData["GoCircular"];
    GOCircular goCircular = new GOCircular();
    if (goCircularTemp != null)
    {
        goCircular = goCircularTemp as GOCircular;
    }
}
<form action="GOCircularEntry" method="post" enctype="multipart/form-data">
    <input type="hidden" value="@(goCircular!=null?goCircular.Id.ToString():"")" name="Id" />

    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Go & Circular Entry</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Go & Circular Entry</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Go Number</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="GoNumber" name="GoNumber" class="form-control" placeholder="Go Number" value="@goCircular.GONumber" />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-area-chart"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Go Date</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-in">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="date" id="GoDate" name="GoDate" data-input="daterangepicker"
                                                                   data-single-date-picker="true" data-show-dropdowns="true" class="form-control" required value="@(goCircular.GODate!=null?goCircular.GODate.Value.ToString("yyyy-MM-dd"):"")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-2 control-label">Subject</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-icon">
                                                            <textarea id="Subject" class="form-control" rows="4" placeholder="Subject" name="Subject">@goCircular.Subject</textarea>
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-map"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <div class="form-group">
                                                        <div class="form-group mt-lg">
                                                            <label class="col-sm-4 control-label">Upload Circular </label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group input-group-icon">
                                                                    <input type="file" name="GOFile" id="GOFile" accept="application/pdf" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="~/Admin/GOCircularEntry" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    @*<div class="row">
                                            <div class="col-md-5">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="~/Admin/GOCircularEntry" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        var parts = document.location.href.split("/");
        var Id = parts[parts.length - 1];
        if (typeof Id !== typeof undefined && !isNaN(Id)) {
            $('#GOFile').addClass('hidden');
            var html = "<a href='../ViewFileGoCircular/" + Id + "' target='_blank'>View File</a><a href='javascript:void(0)' onclick='javascript:return RemoveFile()' style='color:red;padding-left:7px;'>X</a>";
            $(html).insertAfter('#GOFile');
        }
    });
    function RemoveFile() {
        $('#GOFile').removeClass('hidden');
        $('#GOFile').parent().find('a').remove();
        return false;
    }
</script>