@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-bar">
            <ul class="breadcrumb breadcrumb-angle">
                <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                <li class="active">Go & Circular view</li>
            </ul>
        </div><!-- /.content-bar -->
        <hr />

        <div class="content-body">
            <!-- ============================================
        LATEST POSTS LIST
        =============================================== -->
            <div class="panel" data-fill-color="true">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="6">Go & Circular View Detail</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Sl.no</th>
                                            <th>Circular No.</th>
                                            <th>Subject</th>
                                            <th>Circular Date</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>1.</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline">संख्या-585/78-2-2018/135आई. टी./2018</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline">2018-09-05</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline">कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण  </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <a id="lnkDetail" class="btn btn-primary" href="#">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <a id="lnkDetail" class="btn btn-primary" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="container">
                </div>
            </div><!-- /.content-body -->
            <!-- Template Setups -->
            <div class="modal fade" id="templateSetup">
                <div class="modal-dialog">
                    <!-- modal-content -->
                    <div class="modal-content"></div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.templateSetup -->
        </div><!-- /.content -->
    </div>
</section>
