@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<GOCircular>

<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-bar">
            <ul class="breadcrumb breadcrumb-angle">
                <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                <li class="active">Go & Circular view</li>
            </ul>
        </div><!-- /.content-bar -->
        <hr />

        <div class="content-body">
            <!-- ============================================
            LATEST POSTS LIST
            =============================================== -->
            <div class="panel" data-fill-color="true">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="6">Go & Circular View Detail</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Sl.no</th>
                                            <th>Circular No.</th>
                                            <th>Subject</th>
                                            <th>Circular Date</th>
                                            <th>File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var goCircular in Model)
                                            {
                                        <tr>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline center"><strong>@i.</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline center">@goCircular.GONumber</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline center">@goCircular.GODate.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline center">@goCircular.Subject</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline center">
                                                            <a href="ViewFileGoCircular/@goCircular.Id" target="_blank">View File</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="btn-divider mr-2x mb-1x" role="divider">
                                                        <a href="GOCircularEntry/@goCircular.Id" class="btn btn-primary">Edit</a>
                                                        <span class="label-divider" id="Span1">or</span>
                                                        <a href="DeleteGOCircular/@goCircular.Id" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                                @*<div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <a id="lnkDetail" class="btn btn-primary" href="GOCircularEntry/@goCircular.Id">Edit</a>
                                                        <a id="lnkDetail" class="btn btn-primary" href="DeleteGOCircular/@goCircular.Id">Delete</a>
                                                    </div>
                                                </div>*@
                                            </td>
                                        </tr>
                                                i = i + 1;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="container">
                </div>
            </div><!-- /.content-body -->
            <!-- Template Setups -->
            <div class="modal fade" id="templateSetup">
                <div class="modal-dialog">
                    <!-- modal-content -->
                    <div class="modal-content"></div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.templateSetup -->
        </div><!-- /.content -->
    </div>
</section>
