@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="KeyFunctionaries" method="post" enctype="multipart/form-data">
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Key Functionaries</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Key Functionaries</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Name</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-in">
                                                            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-user-secret"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Location</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-in">
                                                            <input type="text" id="Location" name="Location" class="form-control" placeholder="Location" required />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-user-secret"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-2 control-label">Designation</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-icon">
                                                            <textarea id="Designation" class="form-control" rows="5" placeholder="Designation" name="Designation" required></textarea>
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-map"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <div class="form-group">
                                                        <div class="form-group mt-lg">
                                                            <label class="col-sm-4 control-label">Upload Image </label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group input-group-icon">
                                                                    <input type="file" name="Photo" id="Photo" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="panel" data-fill-color="true">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th colspan="6">Key Functionaries Detail</th>
                                            </tr>
                                            <tr class="active">
                                                <th style="width:10%">Sl.no</th>
                                                <th style="width:15%">Name</th>
                                                <th style="width:25%" colspan="2">Designation</th>
                                                <th style="width:15%">Location</th>
                                                <th style="width:20%">Image</th>
                                                <th style="width:15%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="width:10%">
                                                    <div class="form-group mt-lg">
                                                        <div class="input-group input-group-icon">
                                                            <span class="headline center"><strong>1</strong></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:15%">
                                                    <div class="form-group mt-lg">
                                                        <div class="input-group input-group-icon">
                                                            <span class="headline center"> Shri Yogi Adityanath</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2" style="width:25%">
                                                    <div class="form-group mt-lg">
                                                        <div class="input-group input-group-icon">
                                                            <span class="headline center">
                                                                Hon'ble Chief Minister,
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:15%">
                                                    <div class="form-group mt-lg">
                                                        <div class="input-group input-group-icon">
                                                            <span class="headline center">
                                                                Uttar Pradesh
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:20%">
                                                    <div class="form-group mt-lg">
                                                        <div class="input-group input-group-icon">
                                                            <span class="photo" style="margin-left: -15px;">
                                                                <img src="/img/yogiji.jpg" alt="" class="Shri Yogi Adityanath">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:15%">
                                                    <div class="form-group mt-lg">
                                                        <div class="btn-divider mr-2x mb-1x" role="divider">
                                                            <a href="#" class="btn btn-primary">Edit</a>
                                                            <span class="label-divider" id="Span1">or</span>
                                                            <a href="#" class="btn btn-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.panel -->
                    <div class="container">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>
