@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form action="PhotoGallery" method="post" enctype="multipart/form-data">
    <section class="content-wrapper" role="main">
        <div class="content">
            <div class="content-bar">
                <ul class="breadcrumb breadcrumb-angle">
                    <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Gallery Photo Detail</li>
                </ul>
            </div><!-- /.content-bar -->
            <hr />

            <div class="content-body">
                <div class="col-lg-12">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                        <div class="box-content">
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12"><h4 class="heading-primary text-uppercase mb-md">Gallery Photo Detail</h4></div>
                                    </div>
                                    <hr class="tall">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="form-group mt-lg">
                                                        <label class="col-sm-4 control-label">Gallery</label>
                                                        <div class="col-md-8">
                                                            <select name="GalleryCategory" id="GalleryCategory" required class="form-control required"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <label class="col-sm-4 control-label">Photo Name</label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group input-group-icon">
                                                            <input type="text" id="PhotoName" name="PhotoName" class="form-control" placeholder="Photo Name" />
                                                            <span class="input-group-addon">
                                                                <span class="icon"><i class="fa fa-image"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group mt-lg">
                                                    <div class="form-group">
                                                        <div class="form-group mt-lg">
                                                            <label class="col-sm-4 control-label">Upload Gallery Image</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group input-group-icon">
                                                                    <input type="file" name="GalleryPhotoFile" id="GalleryPhotoFile" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <div class="btn-divider mr-2x mb-1x" role="divider">
                                                    <input id="btnSave" type="submit" value="Submit" name="submit" class="btn btn-primary">
                                                    <span class="label-divider" id="Span1">or</span>
                                                    <a href="~/Admin/TenderEntry" class="btn btn-default">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.content -->
    </section>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        FillGalleryDetail();
        function FillGalleryDetail() {
            let dropdown = $('#GalleryCategory');
            dropdown.empty();
            dropdown.append('<option value="">Select</option>');
            dropdown.prop('selectedIndex', 0);
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/Admin/GetGalleryDetail',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    $.each(jsonData, function (key, entry) {
                        dropdown.append($('<option></option>').attr('value', entry.Id).text(entry.GalleryName));
                    });
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });
</script>