@using DataLayer;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<Tender>
<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-bar">
            <ul class="breadcrumb breadcrumb-angle">
                <li><a href="#" aria-label="home"><i class="fa fa-home"></i></a></li>
                <li class="active">Tender view</li>
            </ul>
        </div><!-- /.content-bar -->
        <hr />

        <div class="content-body">
            <!-- ============================================
            LATEST POSTS LIST
            =============================================== -->
            <div class="panel" data-fill-color="true">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="7">Tender View Detail</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Sl.no</th>
                                            <th>Tender No.</th>
                                            <th>Tender Date</th>
                                            <th>Subject</th>
                                            <th>File</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (Tender tender in Model)
                                            {
                                                <tr>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center"><strong>@i</strong></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">/@tender.TenderNumber</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">@tender.TenderDate.Value.ToString("dd/MM/yyyy")</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <span class="headline center">@tender.Subject</span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <a href="ViewTenderFile/@tender.id" target="_blank">View File</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <a id="lnkEdit" class="btn btn-primary" href="TenderEntry/@tender.id">Edit</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mt-lg">
                                                                <div class="input-group input-group-icon">
                                                                    <a id="lnkDelete" class="btn btn-primary" href="TenderEntry/@tender.id">Delete</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                i = i + 1;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.panel -->
                <div class="container">
                </div>
            </div><!-- /.content-body -->
            <!-- Template Setups -->
            <div class="modal fade" id="templateSetup">
                <div class="modal-dialog">
                    <!-- modal-content -->
                    <div class="modal-content"></div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.templateSetup -->
        </div><!-- /.content -->
    </div>
</section>

