
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>About Us</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">About Uptron</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-3">
                    @{
                        Html.RenderPartial("_ImportantLinksAndNewsUpdate");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <h2>HISTORY OF THE COMPANY</h2>
                        <p style="text-align:justify">UPTRON FORBES LIMITED was incorporated under the companies’ act 1956, on the day of 30th April 1977 later under section 21 of companies’ act 1956 and approval of central government changed their name to “UPTRON POWERTRONICS LIMITED” on 18th September 1978. UPTRON POWERTRONICS LIMITED in 1977 works under the administrative control of department of IT & Electronics Government of Uttar Pradesh, Once of the leading provider in the state of art product in the field of IT & Electronics. Specially in IT Hardware, Software, Survieliance System, Manpower, Outsourching & Training to government institutes.</p>

                        <div class="row contentbox">
                            <div class="col-md-6 ">
                                <div class=" contact-pic">
                                    <p><img src="~/img/alok.jpg" class="img-circle img-responsive img-thumbnail" alt="Alok Sinha (IAS)" style="height:140px;width:140px;" title=" Kshipra Shukla "></p>
                                    <h4>Mr. Alok Sinha (IAS)</h4><br />
                                    <span><b>Add. Chief Secretary</b><br><b style="font-size:10px;">Department of IT & Electronics, Govt. of U.P.</b><br><b>Chairman</b><br />Uptron Powertrnoics Ltd.</span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class=" contact-pic">
                                    <p><img src="~/img/rakesh.jpg" class="img-circle img-responsive img-thumbnail" alt="Dr. Rakesh Varma" style="height:140px;width:140px;" title=" Kshipra Shukla "></p>
                                    <h4>Dr. Rakesh Varma</h4><br />
                                    <span><b>Special Secretary</b><br><b style="font-size:10px;">Department of IT & Electronics, Govt. of U.P.</b><br><b>Managing Director</b><br />Uptron Powertrnoics Ltd.</span>
                                </div>
                            </div>
                        </div>

                        <h2>OUR VISION</h2>
                        <p style="text-align:justify">UPTRON FORBES LIMITED was incorporated under the companies’ act 1956, on the day of 30th April 1977 later under section 21 of companies’ act 1956 and approval of central government changed their name to “UPTRON POWERTRONICS LIMITED” on 18th September 1978. UPTRON POWERTRONICS LIMITED in 1977 works under the administrative control of department of IT & Electronics Government of Uttar Pradesh, Once of the leading provider in the state of art product in the field of IT & Electronics. Specially in IT Hardware, Software, Survieliance System, Manpower, Outsourching & Training to government institutes.</p>
                        <h2>OUR MISSION</h2>
                        <p style="text-align:justify">UPTRON FORBES LIMITED was incorporated under the companies’ act 1956, on the day of 30th April 1977 later under section 21 of companies’ act 1956 and approval of central government changed their name to “UPTRON POWERTRONICS LIMITED” on 18th September 1978. UPTRON POWERTRONICS LIMITED in 1977 works under the administrative control of department of IT & Electronics Government of Uttar Pradesh, Once of the leading provider in the state of art product in the field of IT & Electronics. Specially in IT Hardware, Software, Survieliance System, Manpower, Outsourching & Training to government institutes.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

