

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg02.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Objective of the Company</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<!--<div class="secotionTitle" style="background: #f7f7f7;">
    <h2><span>About Us</span></h2>
  </div>-->
<!--<section class="container-fluid clearfix " >
  <div class="aboutInner">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox ">
            <img src="~/img/home/about.jpg" alt="Image About" class="~/img-responsive"/>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>About Uptron Powertronics </h2>
            <p>Uptron Powertronics Limited was incorporated under the name of UPTRON Limited on 1st Feb 1979 under company act of 1956 as a limited company. The company was subsequently renamed as Uptron Powertronics India Limited on 24th April 1984.</p>
            <p> Uptron Powertronics Limited is a Public Sector ISO 9001:2000 company under the administrative control of Department of Information Technology and Electronics, Government of Uttar Pradesh. Uptron Powertronics Limited is managed by the Board of directors under Chief Executive and Managing Director.</p>
              <p>Uptron Powertronics Limited was incorporated under the name of UPTRON Limited on 1st Feb 1979 under company act of 1956 as a limited company. </p>
            <a href="#" class="btn btn-primary first-btn" data-toggle="modal" data-target="#appoinmentModal">Read More...</a>
            <a href="#" class="">Read More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">About Objective</li>
    </ol>
</div>
<!-- BLOG SINGLE SECTION -->
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <div class="col-md-3">
                    @{
                        Html.RenderPartial("_ImportantLinksAndNewsUpdate");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <h2>Objective of the Company</h2>
                        <p>I. The objects for which the Company is established are:</p>
                        <p> A) Main Objects of the Company to be pursued by the Company on its incorporation :</p>
                        <p>(1) To carry on all or any of the business of manufacturers, installers, maintainers, repairers of and dealers in electrical and electronic apparatus and instruments of every description including battery chargers. inverters, rectifiers, regulated power suppliers. automatic voltage regulators and other applied equipments of and in electronic components, radio, television and tele-communication requisites and supplies, including relays. transformers, electric accumulators, chokes, switches, lamps. printed circuits and generally wireless and electrical components, fittings, parts, apparatus, accessories and equipments of every kind.</p>
                        <p>(2) To manufacture, buy, import, export, put up, sell, use, install, hire, let on hire, repair, assemble, distribute or otherwise deal in or trade in telephone components, telegraphs (wireless or other) dynamos. engines, accumulators, transformers, condensers, capacitors, cables, resistances, amplifiers, transmitters, chokes, cables, wires, lamps, dry cells, batteries, torches lighters and all appliances, apparatus, machinery, goods, gadgets, accessories, articles or things which may hereafter be invented or connected with the generation, accumulation, distribution, supply or employment of electricity or any power, force or energy that can be used as substitute therefore including all cables, wires, or appliances for connecting apparatus at a distance with the other apparatus and including the formation, maintenance and alterations of exchange and Centres. </p>
                        <p>2(A) To undertake and carry on the business of manufacturer, installers, maintainers, repairers and dealers of fire fighting equipments security and surveillance related products and other related items. </p>
                        <p>2(B) To undertake business activities related to Software, development center, IT data center, Cloud services and others CAD / CAM training centre, manufacturing of electronics equipments / IT / ITES training. </p>
                        <p> (3) To carry on the business of electricians, electrical engineers, electrical contractors, and manufacturers of all kinds of electrical machinery telephonic or telegraphic apparatus of any kind.</p>
                        <p> (4) To carry on business works and activities  related to software development ,  Electronic  Data Processing Systems, Data Communication systems,  Hardware  Software, Networking,  Internet,  e-commerce. et-cetera </p>
                        <p> (5) To carry on business, Works and activities in the field of Information Technology and its enables services e.g. </p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2" aria-expanded="false">
                                        Value added IT Services
                                    </div>
                                </h4>
                            </div>
                            <div id="collapse_3_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p style="text-align: justify; font-size: 12px"></p>
                                    <p> 1. Web enability Legacy systems</p>
                                    <p> 2. E-Commerce/Extended Enterprises Application</p>
                                    <p> 3. Standards-based Application integration</p>
                                    <p> 4. Knowledge Management</p>
                                    <p> 5. Conveyance Application</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3" aria-expanded="false">
                                        Software Products
                                    </div>
                                </h4>
                            </div>
                            <div id="collapse_3_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p style="text-align: justify; font-size: 12px"></p>
                                    <p> 1. Emerging Silver</p>
                                    <p> 2. Productization</p>
                                    <p> 3. Embedded Software </p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4" aria-expanded="false">
                                        IT Enabled Services
                                    </div>
                                </h4>
                            </div>
                            <div id="collapse_3_4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p style="text-align: justify; font-size: 12px"></p>
                                    <p> 1. HR Services</p>
                                    <p> 2. Remote Customer Interaction</p>
                                    <p> 3. Data Search, Integration and Analysis</p>
                                    <p> 4. Engineering and Design Services</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_5" aria-expanded="false">
                                        E-Business
                                    </div>
                                </h4>
                            </div>
                            <div id="collapse_3_5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p style="text-align: justify; font-size: 12px"></p>
                                    <p> 1. Domestic to Domestic Business</p>
                                    <p> 2. NRI oriented Business to Consumer</p>

                                </div>
                            </div>
                        </div>
                        <p> (6) To undertake activities for Computer Education/Corporate Training and proliferation knowledge, know-how, know-why and information about the Information Technology.</p>
                        <p> The authorized share capital of the company is Rs 4,50,00,000 ( four crores fifty lakhs only) divided into 4,50,000 equity shares of Rs 100 each.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


