@using DataLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tender>
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Tender</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">About Tender</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-3">
                    <div class="blogSidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading">Important Links</div>
                            <div class="panel-body">
                                <ul class="list-unstyle categoryList">
                                    <li><a href="#"><i class="fa fa-file"></i> Information Security Guidelines</a></li>
                                    <li><a href="#"><i class="fa fa-align-right"></i> Important GO's & Circular</a></li>
                                    <li><a href="#"><i class="fa fa-clipboard"></i> E-Citizen</a></li>
                                    <li><a href="#"><i class="fa fa-bell-o"></i> How to associate with UPL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="secotionTitle">
                        <h2 class="bg">News Updates</h2>
                    </div>
                    <div class="demo5 demof">
                        <ul>
                            <li>

                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li class="odd">
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li>
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="panel-footer"> <p>Read More...</p></div>-->
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col"  style="width:10%">संख्या</th>
                                        <th scope="col" style="width:25%">शासनादेश-संख्या</th>
                                        <th scope="col" style="width:15%">दिनांक</th>
                                        <th scope="col" colspan="2" style="width:35%">विषय</th>
                                        <th scope="col" style="width:15%">डाउनलोड</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (Tender tender in Model)
                                        {
                                            <tr>
                                                <th scope="row" style="width:10%">@i.</th>
                                                <td style="word-wrap:break-word;width:25%">@tender.TenderNumber</td>
                                                <td style="width:20%">@tender.TenderDate.Value.ToString("dd/MM/yyyy")</td>
                                                <td colspan="2" style="word-wrap:break-word;width:35%">@tender.Subject</td>
                                                <td class="views-field views-field-field-attached" data-label="Download" style="width:10%">
                                                    <a href="~/Admin/ViewTenderFile/@tender.id" target="_blank" style="color:#000;" type="application/pdf; length=2288280">
                                                        <img alt="application/pdf" class="file-icon" style="height:50px;width:50px;margin-bottom:0px" src="~/img/pdfimage.png" title="PDF file.">
                                                    </a>
                                                </td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
