@using DataLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tender>
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Tender</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">About Tender</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-3">
                    @{
                        Html.RenderPartial("_ImportantLinksAndNewsUpdate");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost tbl-content">
                        <div class="table table-responsive scrollbar-deep-purple bordered-deep-purple thin">
                            <table class="table table-bordered table-hover table-striped" style="width:100%">
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col" style="width:10%">संख्या</th>
                                        <th scope="col" style="width:25%">निविदा-संख्या</th>
                                        <th scope="col" style="width:15%">निविदा-दिनांक</th>
                                        <th scope="col" colspan="2" style="width:35%">विषय</th>
                                        <th scope="col" style="width:15%">डाउनलोड</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (Tender tender in Model)
                                        {
                                            <tr>
                                                <th scope="row" style="width:10%">@i.</th>
                                                <td style="word-wrap:break-word;width:25%">@tender.TenderNumber</td>
                                                <td style="width:20%">@tender.TenderDate.Value.ToString("dd/MM/yyyy")</td>
                                                <td colspan="2" style="word-wrap:break-word;width:35%">@tender.Subject</td>
                                                <td class="views-field views-field-field-attached" data-label="Download" style="width:10%">
                                                    <a href="~/Admin/ViewTenderFile/@tender.id" target="_blank" style="color:#000;" type="application/pdf; length=2288280">
                                                        <img alt="application/pdf" class="file-icon" style="height:50px;width:50px;margin-bottom:0px" src="~/img/pdfimage.png" title="PDF file.">
                                                    </a>
                                                </td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*<div class="blogPost scrollbar  tbl-content">
                            <div class="table table-responsive scrollbar scrollbar-near-moon thin">
                                <table class="table table-bordered table-hover table-striped" style="width:100%">
                                    <thead>
                                        <tr class="table-primary">
                                            <th scope="col">संख्या</th>
                                            <th scope="col">शासनादेश-संख्या</th>
                                            <th scope="col">दिनांक</th>
                                            <th scope="col">विषय</th>
                                            <th scope="col">डाउनलोड</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">१</th>
                                            <td>संख्या-585/78-2-2018/135आई. टी./2018</td>
                                            <td>05 सितम्बर, 2018</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण  </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Manpower%20GO.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280"><br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">२</th>
                                            <td>संख्या-193/78-2-2015-25-आई. टी./2001</td>
                                            <td>18 फरवरी, 2015</td>
                                            <td>कंप्यूटर क्रय प्रक्रिया का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/CCTV%20GO%20.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">३</th>
                                            <td>संख्या-137(1 /78-2-2006-11 आई. टी./2001</td>
                                            <td>19 जनवरी, 2006</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Software.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">४</th>
                                            <td>संख्या-137(1 /78-2-2006-11 आई. टी./2001</td>
                                            <td>19 जनवरी, 2006</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण  </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Software1.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">५</th>
                                            <td>संख्या-1089/78-2-2005-81-इले0/99</td>
                                            <td>22 जुलाई, 2005</td>
                                            <td>सरकारी संयको / निगमों / निकायों / समितियों के कार्मिको एवं अध्यापकों का कंप्यूटर प्रशिक्षण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/TRAINING.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">६</th>
                                            <td>संख्या-785/78-2-2004-25-आई. टी./2004</td>
                                            <td>25 अगस्त, 2004</td>
                                            <td>कंप्यूटर क्रय प्रक्रिया का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Hardware.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">१</th>
                                            <td>संख्या-585/78-2-2018/135आई. टी./2018</td>
                                            <td>05 सितम्बर, 2018</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण  </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Manpower%20GO.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280"><br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">२</th>
                                            <td>संख्या-193/78-2-2015-25-आई. टी./2001</td>
                                            <td>18 फरवरी, 2015</td>
                                            <td>कंप्यूटर क्रय प्रक्रिया का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/CCTV%20GO%20.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">३</th>
                                            <td>संख्या-137(1 /78-2-2006-11 आई. टी./2001</td>
                                            <td>19 जनवरी, 2006</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Software.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">४</th>
                                            <td>संख्या-137(1 /78-2-2006-11 आई. टी./2001</td>
                                            <td>19 जनवरी, 2006</td>
                                            <td>कंप्यूटर के एप्लीकेशन सॉफ्टवेयर क्रय / विक्रय का निर्धारण  </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Software1.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">५</th>
                                            <td>संख्या-1089/78-2-2005-81-इले0/99</td>
                                            <td>22 जुलाई, 2005</td>
                                            <td>सरकारी संयको / निगमों / निकायों / समितियों के कार्मिको एवं अध्यापकों का कंप्यूटर प्रशिक्षण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/TRAINING.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">६</th>
                                            <td>संख्या-785/78-2-2004-25-आई. टी./2004</td>
                                            <td>25 अगस्त, 2004</td>
                                            <td>कंप्यूटर क्रय प्रक्रिया का निर्धारण </td>
                                            <td class="views-field views-field-field-attached" data-label="Download"><a href="img/GO/Hardware.pdf" target="_blank" style="color:#000;" type="application/pdf; length=2288280">Download<br /><img alt="application/pdf" class="file-icon" style="height:50px;width:50px;" src="img/pdfimage.png" title="PDF file."></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>*@
                </div>

            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
    }).resize();
</script>