

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Contact Us</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <div class="secotionTitle">
                    <h2 class="bg">Get In Touch</h2>
                </div>
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-4">
                    <div class=" contact-pic">
                        <h4><i class="fa fa-home"></i> Regd. Office:</h4>
                        <br> <span><i class="fa fa-home"></i> S-58, Industrial Area Site IV,  <br>Sahibabad, Ghaziabad, U.P. – 201010<br><i class="fa fa-phone"></i> Contact no – 0120-4561815<br><i class="fa fa-envelope"></i> Email - admin@uptronpowertronics.in</span>
                    </div>
                    <div class=" contact-pic">
                        <h4><i class="fa fa-home"></i> Branch Office:</h4>
                        <br> <span><i class="fa fa-home"></i> UPTRON Building, Gomti Barrage,  <br>Gomti Nagar, Lucknow, U.P. – 226001<br><i class="fa fa-phone"></i> Contact no – 0120-4561815<br><i class="fa fa-envelope"></i> Email: admin@uptronpowertronics.in</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contactForm" style="margin-right: 5px;">
                        <form action="Contact" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Your Phone" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="Message" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary first-btn">send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

