@using DataLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GalleryMaster>
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Gallery</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Gallery</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-3">
                    <div class="blogSidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading">Important Links</div>
                            <div class="panel-body">
                                <ul class="list-unstyle categoryList">
                                    <li><a href="#"><i class="fa fa-file"></i> Information Security Guidelines</a></li>
                                    <li><a href="#"><i class="fa fa-align-right"></i> Important GO's & Circular</a></li>
                                    <li><a href="#"><i class="fa fa-clipboard"></i> E-Citizen</a></li>
                                    <li><a href="#"><i class="fa fa-bell-o"></i> How to associate with UPL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="secotionTitle">
                        <h2 class="bg">News Updates</h2>
                    </div>
                    <div class="demo5 demof">
                        <ul>
                            <li>

                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li class="odd">
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li>
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="panel-footer"> <p>Read More...</p></div>-->
                </div>
                <div class="col-lg-9">
                    <section class="clearfix productSection">

                        <div class="container">
                            <div class="secotionTitle col-lg-9">
                                <h2 class="bg">Photo gallery</h2>
                            </div>
                            <!-- <div class="secotionTitle">
                              <h2>Our Major Projects </h2>
                            </div>-->
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="item active">
                                        <div class="row galleryset">
                                            @{
                                                foreach (var gallery in Model)
                                                {
                                                    var base64 = Convert.ToBase64String(gallery.GalleryImage);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <div class="col-md-4 col-xs-12">
                                                        <div class="productImage isotopeSelector">
                                                            <figure>
                                                                <img src="@imgsrc" alt="Image Gallery" class="img-responsive galimg" style="height:180px;width:100%;">
                                                                <div class="overlay-background">
                                                                    <div class="inner"></div>
                                                                </div>
                                                                <div class="overlay">
                                                                    <a class="fancybox-pop" rel="portfolio-1" href="@imgsrc">
                                                                        <div class="overlayInfo">
                                                                            <h4><i class="fa fa-plus" aria-hidden="true"></i> <br></h4>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </figure>
                                                            <div class="event-details bg-white p-20">
                                                                <h4 class="text-thm pb-5"><a href="~/Home/GalleryDetail/@gallery.Id">@gallery.GalleryName</a></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brandn-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
