@using DataLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MajorProject>
<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Major Projects</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">About Major Projects</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <div class="col-lg-12">
                    <div class="secotionTitle">
                        <h2 class="bg">Partial list of Important Projects by UPL in last few years</h2>
                    </div>
                    <div id="my-timeline"></div>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr class="bg-primary">
                                    <th style="width:10%">Sl No.</th>
                                    <th style="width:45%">Name of Department/Organization</th>
                                    <th style="width:45%">Work Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var majorprojects in Model)
                                    {
                                        <tr>
                                            <td style="width:10%">@i.</td>
                                            <td style="width:45%">@majorprojects.DepartmentName</td>
                                            <td style="width:45%">@majorprojects.WorkDescription</td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Partner Section -->
@{
    Html.RenderPartial("_Partner");
}

<!-- Footer Section -->
@{
    Html.RenderPartial("_Footer");
}

<link href="~/dist/jquery.roadmap.min.css" rel="stylesheet" />
<script src="~/dist/jquery.roadmap.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var events = [];
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Home/GetAllMajorProjects',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var jsonData = JSON.parse(data);
                $.each(jsonData, function (i, item) {
                    events.push(
                        {
                            date: item.Title,
                            content: item.DepartmentName + '<small>' + item.WorkDescription + '</small>'
                        });
                });
                $('#my-timeline').roadmap(events, {
                    eventsPerSlide: 6,
                    slide: 1,
                    prevArrow: '<i class="material-icons">keyboard_arrow_left</i>',
                    nextArrow: '<i class="material-icons">keyboard_arrow_right</i>'
                });
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>