
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-12.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>IT Enabled Service</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    <div class="secotionTitle">
                        <h2 class="bg">Our Service</h2>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default recentBlogPosts">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-1.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Hospital">Hospital Information System</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-2.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Eprocurement">e-Procurement Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-3.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Manpower">Manpower Supply Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-4.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Software">Software, Hardware & Networking</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>

                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-5.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_ITEnabled">IT Enabled Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-6.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Amc">Annual Maintenance Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-7.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Training">Workshop Training</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-8.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Miscelleneous">Miscellaneous Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>IT Enabled Services</h2>
                                <p>The mission of IT Services is to enable the effective use of information technology in support of the University. Our primary focus is on providing information technology products and services that meet the needs of the CEPT community and achieve the highest level of customer satisfaction.</p>
                                <p>The IT Service provides the central information technology services and management for the CEPT University community. IT services comprise four distinctive service functions Information Security, IT Customer Service, Technology Operations and Enterprise Systems as one Team.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/itservice.jpg" class="img-responsive" />
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <h3>Goals of IT Services</h3>
                                <h3 class="qua">Deliver information technology products and services that meet the needs of the CEPT community and achieve the highest level of customer satisfaction.</h3>
                                <h3 class="qua">Support the use and development of information technology to enable academic innovation in teaching, learning, research, and scholarship.</h3>
                                <h3 class="qua">Provide a robust, reliable, and secure information technology infrastructure.</h3>
                                <h3 class="qua">Attract, develop, and retain quality information technology professionals.</h3>
                                <h3 class="qua">Enable communication and collaboration among information technology professionals and users of information technology at CEPT.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
