
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-08.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Software, Hardware & Networking</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    @{
                        Html.RenderPartial("_OurServiceLinks");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Software Services</h2>
                                <p>Store  Management  Software helps you to manage inventory On web of your company store room. This will help organize Your purchase and consumption.</p>
                                <p>Implemented the solution in Madhyanchal vidyut Vitran(MVVNL) for the purpose of Store Inventory.Handled the biggest and busiest mela in India i.e. Allahabad Kumbh Mela</p>
                                <p>Store Management Software provides Various services –</p>
                                <div class="col-md-6">
                                    <h3 class="qua">Section Setup</h3>
                                    <h3 class="qua">Department Setup</h3>
                                    <h3 class="qua">Specification Setup</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="qua">Employee Setup</h3>
                                    <h3 class="qua">Category Setup</h3>
                                    <h3 class="qua">Supplier Setup</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/software2.jpg" />
                            </div>
                            <div class="col-md-12">
                                <h2>Surveillance & Networking</h2>
                                <h3 class="qua">We have been working for the security surveillance aspects of the organization, we are 3rd Eye of Deptt</h3>
                                <h3 class="qua">Crime Mapping – Compiled in UP Police with all aspects of Surveillance.</h3>
                                <h3 class="qua">We have provided Mobile software's  and CCTV to Deptt. of Home (UP Prisons).</h3>
                                <h3 class="qua">MPLS Connectivity- Deptt. of Agriculture (UP Mandi Parishad), RML Hospital.</h3>
                                <h3 class="qua">Voice Loggers and Mobile Software’s in STF  & ATF.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
