@using DataLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ServiceDetail

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image:url(@Model.Name);">
    <div class="container">
        <div class="pageTitle">
            <h1>@Model.Caption</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    @{
                        Html.RenderPartial("_OurServiceLinks");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>e-Procurement Services</h2>
                                <p>We had Initiated and Implemented the e-Procurement services Successfully at Various locations Spread Across India.</p>
                                <p><b>Nation Wide</b> Implementation of our solution at Deptt. of Labor (ESIC), Tenders conducted Included Rate Contract for Medicines and General Products.</p>
                                <p>Handled around 160+ Bidders in a single Tender.</p>
                                <p>Ministry of Commerce & Industry(FDDI and NIFT).</p>
                                <p>E-procurement web sites allow qualified and registered users to look for buyers or sellers of goods and services. Depending on the approach, buyers or sellers may specify prices or invite bids. Transactions can be initiated and completed. Ongoing purchases may qualify customers for volume discounts or special offers.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/eprocurement.jpg" />
                            </div>
                        </div>
                        <p>E-procurement software may make it possible to automate some buying and selling. Companies participating expect to be able to control parts inventories more effectively, reduce purchasing agent overhead, and improve manufacturing cycles.</p>
                        <p>Advantages of adopting E-Procurement (Systems):</p>
                        <ol>
                            <li>E-Procurement helps with the decision-making process by keeping relevant information neatly organized and time-stamped. Most are template-driven which makes all transactions standardized and trackable. Keeping track of all bids means leveraging your knowledge to obtain better pricing. Companies can focus on their most lucrative trading partners and contracts.</li>
                            <li>E-Procurement enhances the comparability of suppliers and prices.</li>
                            <li>E-Procurement reduces the energy expended. Especially at purchasing office equipment and other class C commodities.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
