
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-05.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>HOSPITAL INFORMATION SYSTEM (HIS)</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    <div class="secotionTitle">
                        <h2 class="bg">Our Service</h2>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default recentBlogPosts">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-1.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Hospital">Hospital Information System</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-2.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Eprocurement">e-Procurement Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-3.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Manpower">Manpower Supply Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-4.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Software">Software, Hardware & Networking</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>

                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-5.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_ITEnabled">IT Enabled Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-6.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Amc">Annual Maintenance Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-7.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Training">Workshop Training</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-8.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Miscelleneous">Miscellaneous Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Hospital Information System (HIS)</h2>
                                <p>Hospital Information System covers all the modules required for the Entire Scope of Work which Includes Management, Staff and Patients Details.</p>
                                <p>RML project includes various dedicated  modules with Complete work including the FMS and Referral Centers for 5 years with an extension of still going.</p>
                                <p>Medical Institutions in various Districts covered are –</p>
                                <div class="col-md-6">
                                    <h3 class="qua">Kannuj</h3>
                                    <h3 class="qua">Gorakhpur</h3>
                                    <h3 class="qua">Agra</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="qua">Mahoba</h3>
                                    <h3 class="qua">Azamgarh</h3>
                                    <h3 class="qua">Saharanpur</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/his.png" />
                            </div>
                            <div class="col-md-12">
                                <p>A Hospital Information System (HIS) basically  is a synonym for information management system at use in hospitals. Hospitals generate a wealth of data round the clock, 365 days a year, all of which needs to be well managed to ensure efficient functioning. Patients visit such establishments for outpatient care, in an emergency, or get admitted for either a short stay (a few hours) or long in duration (that may sometimes be indefinite). While in the past, the important modules of an HIS tended to be those that dealt with revenue management aspects, the recent trend sees a growing emphasis on improving overall efficiency and clinical management. It must be noted here that while some modules are required by all clinical establishments, requirement for others depend on the size of and specialities covered by a particular establishment.</p>
                                <p>Hospital information systems provide a common source of information about a patient's health history. The system has to keep data in a secure place and controls who can reach the data in certain circumstances. These systems enhance the ability of health care professionals to coordinate care by providing a patient's health information and visit history at the place and time that it is needed. Patient's laboratory test information also includes visual results such as X-ray, which may be reachable by professionals. HIS provide internal and external communication among health care providers. Portable devices such as smartphones and tablet computers may be used at the bedside.</p>



                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/img/college.png" />
                            </div>
                            <div class="col-md-6">
                                <h2>College Management System </h2>
                                <p>College can manage activities like student attendance, fee, exam, library records and much more. Vidyalaya college ERP solution is designed in order to minimize the complexity faced by colleges to manage odd-even semester simultaneously. This is easy to install and ready to use college management system configured with all type of operating system and Mobile devices. With this reliable and secure solution the college now can achieve the goal of becoming the paperless organization.</p>

                            </div>
                            <div class="col-md-12">
                                <p>This software is designed keeping in mind the different operations of a college. Our team understands that for any college to function their administrative processes plausibly, should and must opt for an ERP, for the following reasons,</p>
                                <h4>Our software and services are mainly based around the following attributes:</h4>
                                <h3 class="qua">Manual work reduces considerably</h3>
                                <h3 class="qua">Operations of Academic and Non-Academic department</h3>
                                <h3 class="qua">Generates reports/ receipts/ drafts for all modules</h3>
                                <h3 class="qua">Data Security</h3>
                                <h3 class="qua">Affordable Customization</h3>
                                <h3 class="qua">Modern Web Technologies</h3>
                                <h3 class="qua">Cost Efficient</h3>
                                <h3 class="qua">Data Security Training</h3>
                            </div>
                        </div>
                        <!--<p>A Hospital Information System (HIS) basically  is a synonym for information management system at use in hospitals. Hospitals generate a wealth of data round the clock, 365 days a year, all of which needs to be well managed to ensure efficient functioning. Patients visit such establishments for outpatient care, in an emergency, or get admitted for either a short stay (a few hours) or long in duration (that may sometimes be indefinite). While in the past, the important modules of an HIS tended to be those that dealt with revenue management aspects, the recent trend sees a growing emphasis on improving overall efficiency and clinical management. It must be noted here that while some modules are required by all clinical establishments, requirement for others depend on the size of and specialities covered by a particular establishment.</p>
                                            <p>Hospital information systems provide a common source of information about a patient's health history. The system has to keep data in a secure place and controls who can reach the data in certain circumstances. These systems enhance the ability of health care professionals to coordinate care by providing a patient's health information and visit history at the place and time that it is needed. Patient's laboratory test information also includes visual results such as X-ray, which may be reachable by professionals. HIS provide internal and external communication among health care providers. Portable devices such as smartphones and tablet computers may be used at the bedside.</p>
                                            <p>Potential benefits of hospital information systems include:

                        Efficient and accurate administration of finance, diet of patient, engineering, and distribution of medical aid. It helps to view a broad picture of hospital growth
                        Improved monitoring of drug usage, and study of effectiveness. This leads to the reduction of adverse drug interactions while promoting more appropriate pharmaceutical utilization.
                        Enhances information integrity, reduces transcription errors, and reduces duplication of information entries.[2]
                        Hospital software is easy to use and eliminates error caused by handwriting. New technology computer systems give perfect performance to pull up information from server or cloud servers.</p>-->
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
