
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-06.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>e-Procurement Services</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    <div class="secotionTitle">
                        <h2 class="bg">Our Service</h2>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default recentBlogPosts">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-1.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Hospital">Hospital Information System</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-2.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Eprocurement">e-Procurement Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-3.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Manpower">Manpower Supply Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-4.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Software">Software, Hardware & Networking</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>

                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-5.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_ITEnabled">IT Enabled Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-6.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Amc">Annual Maintenance Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-7.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Training">Workshop Training</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-8.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Miscelleneous">Miscellaneous Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>e-Procurement Services</h2>
                                <p>We had Initiated and Implemented the e-Procurement services Successfully at Various locations Spread Across India.</p>
                                <p><b>Nation Wide</b> Implementation of our solution at Deptt. of Labor (ESIC), Tenders conducted Included Rate Contract for Medicines and General Products.</p>
                                <p>Handled around 160+ Bidders in a single Tender.</p>
                                <p>Ministry of Commerce & Industry(FDDI and NIFT).</p>
                                <p>E-procurement web sites allow qualified and registered users to look for buyers or sellers of goods and services. Depending on the approach, buyers or sellers may specify prices or invite bids. Transactions can be initiated and completed. Ongoing purchases may qualify customers for volume discounts or special offers.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/eprocurement.jpg" />
                            </div>
                        </div>
                        <p>E-procurement software may make it possible to automate some buying and selling. Companies participating expect to be able to control parts inventories more effectively, reduce purchasing agent overhead, and improve manufacturing cycles.</p>
                        <p>Advantages of adopting E-Procurement (Systems):</p>
                        <ol>
                            <li>E-Procurement helps with the decision-making process by keeping relevant information neatly organized and time-stamped. Most are template-driven which makes all transactions standardized and trackable. Keeping track of all bids means leveraging your knowledge to obtain better pricing. Companies can focus on their most lucrative trading partners and contracts.</li>
                            <li>E-Procurement enhances the comparability of suppliers and prices.</li>
                            <li>E-Procurement reduces the energy expended. Especially at purchasing office equipment and other class C commodities.</li>
                        </ol>
                    </div>
                </div>

            </div>
            <!--<div class="col-md-12 col-sm-7 col-xs-12">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14004.087627613646!2d77.33144002556048!3d28.65906271851509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sS-58%2C+Industrial+Area+Sahibabad%2C+Ghaziabad%2C+U.P.+%E2%80%93+201010!5e0!3m2!1sen!2sin!4v1537868656885" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                   </div>-->
        </div>
    </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
