
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-13.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Miscellaneous Services</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Miscellaneous Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    @{
                        Html.RenderPartial("_OurServiceLinks");
                    }
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Miscellaneous Services</h2>
                                <p>
                                    This service(s) can be availed by filling the application online and submitting
                                    one copy of the application form to the concerned Indian Mission/Post/Office
                                    in whose jurisdiction the applicant is resident irrespective of the fact that the
                                    OCI documents have not been issued from that Indian Mission/Post/Office.
                                </p>
                                <p>
                                    In case of change of address/occupation, no hard copy of the application is
                                    required to be submitted to the Indian Mission/Office and therefore, new OCI
                                    documents shall not be issued. Upon submission of online application, the
                                    data shall be captured and new address/occupation shall be printed which may
                                    be kept in the OCI registration certificate booklet for record purpose.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <img src="~/img/misc.jpg" class="img-responsive" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="qua">Big Data Analytics</h3>
                                <h3 class="qua">Learning Management System</h3>
                                <h3 class="qua">Application Security</h3>
                            </div>
                            <div class="col-md-6">
                                <h3 class="qua">Artificial Intelligence</h3>
                                <h3 class="qua">Solar Power System</h3>
                                <h3 class="qua">Hadoop Big Data</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
