
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg-07.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Services</h1>
        </div>
    </div>
</section>


<!-- END ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Manpower Services</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">

                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-sm-3 col-xs-12">
                    <div class="secotionTitle">
                        <h2 class="bg">Our Service</h2>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default recentBlogPosts">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-1.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Hospital">Hospital Information System</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-2.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Eprocurement">e-Procurement Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-3.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Manpower">Manpower Supply Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-4.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Software">Software, Hardware & Networking</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>

                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-5.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_ITEnabled">IT Enabled Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-6.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Amc">Annual Maintenance Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-7.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Training">Workshop Training</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="media-left" href="blog-single-right-sidebar.html">
                                        <img class="media-object" src="~/img/blog/blog-new-8.jpg" alt="Image">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="~/Home/Service_Miscelleneous">Miscellaneous Services</a></h4>
                                        <h6>Read More...</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="blogPost">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Manpower Services</h2>
                                <p>Uptron Powertronics Limited provides end to end Human Resource Management to organizations and helps them address their critical talent needs by providing comprehensive Workforce Management from Recruitment Process Outsourcing (RPO) to Staffing Solutions, Permanent Recruitment and Leadership Training and Development. Our endeavor is to help our clients and candidates win in the changing world of work.</p>
                                <p>We are fortunate enough in having smart, innovative and passionate manpower recruitment experts who are pro in offering great benefits to various businesses. Our professional team is well specialized in delivering quick, effective and affordable manpower recruitment services.</p>
                                <p>Uptron Powertronics Limited provides Various services –</p>

                            </div>
                            <div class="col-md-6">
                                <img src="~/img/manpower.jpg" />
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h3 class="qua">Manpower Recruitment Services</h3>
                                    <h3 class="qua">Manpower Consultancy Services</h3>
                                    <h3 class="qua">Manpower Staffing Services</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="qua">Manpower Consulting Services</h3>
                                    <h3 class="qua">Manpower Solutions</h3>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <p> Moreover, our innovative approaches with a keen focus on the fundamental idea behind each project, flawless communication and dedication are some of our fundamental qualities, which set us apart from the competitors.</p>
                                <p>Our manpower services are incomparable and as a progressive recruitment firm, we firmly believe in the transforming one’s career and business. All we believe in your GROWTH and SUCCESS is our ACHIEVEMENT, thus, we work very hard to fetch the same.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>

<!-- PARTNER LOGO SECTION -->
<section class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <div class="col-sm-3 slide">
                        <div class="partnersLogo clearfix">
                            <img src="~/img/home/brand-5.jpg" alt="Image Partner">
                        </div>
                    </div>
                    <!--<div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-2.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-3.png" alt="Image Partner">
                      </div>
                    </div>
                    <div class="col-sm-3 slide">
                      <div class="partnersLogo clearfix">
                        <img src="~/img/home/brand-4.png" alt="Image Partner">
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--END PARTNER LOGO SECTION -->
