
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(../img/blog/pageTitle-bg.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>Coming Page</h1>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<div class="example">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li class="active">Coming Page</li>
    </ol>
</div>
<!-- KEY FUNCTANIORIES & Services SECTION -->
<section class="clearfix">
    <div class="container">
        <div class="timeLine">
            <div class="row">
                <!-- KEY FUNCTANIORIES SECTION -->
                <div class="col-md-3">
                    <div class="blogSidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading">Important Links</div>
                            <div class="panel-body">
                                <ul class="list-unstyle categoryList">
                                    <li><a href="#"><i class="fa fa-file"></i> Information Security Guidelines</a></li>
                                    <li><a href="#"><i class="fa fa-align-right"></i> Important GO's & Circular</a></li>
                                    <li><a href="#"><i class="fa fa-clipboard"></i> E-Citizen</a></li>
                                    <li><a href="#"><i class="fa fa-bell-o"></i> How to associate with UPL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="secotionTitle">
                        <h2 class="bg">News Updates</h2>
                    </div>
                    <div class="demo5 demof">
                        <ul>
                            <li>

                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li class="odd">
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                            <li>
                                <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer"> <p>Read More...</p></div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <img src="~/img/coming-soon/coming.jpg" class="img-responsive" />
                            </div>
                        </div>

                    </div>
                    <section class="clearfix comingSoon">
                        <div class="container">
                            <div class="comingSoonInner hidden-xs">
                                <div class="comingInner">
                                    <div class="comingTitle">
                                        <h2 style="color:#fff">Something Awesome is in the Works</h2>
                                    </div>
                                    <div class="count-down clearfix">
                                        <div id="simple_timer"></div>
                                    </div>
                                    <p style="margin-left:-35px;">We will be here soon.Please stay in touch</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter email for notification" aria-describedby="basic-addon221">
                                        <button type="submit" class="input-group-addon" id="basic-addon221">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

