<!-- FOOTER -->
<footer>
    <!-- BACK TO TOP BUTTON -->
    <a href="#pageTop" class="backToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- FOOTER INFO -->
    <div class="clearfix footerInfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="footerText">
                        <a href="~/Home/Index" class="footerLogo"><img src="~/img/uptron-footerlogo.png" alt="Footer Logo" style="width:240px;"></a>
                        <p>
                            Regd. Office: <br />
                            S-58, Industrial Area Site IV,  </br/>
                            Sahibabad, Ghaziabad, U.P. – 201010</br>
                            Contact no – 0120-4561815<hr />
                            Branch Office: </br>
                            UPTRON Building, Gomti Barrage,<br />
                            Gomti Nagar, Lucknow, U.P. – 226001</br>
                            Email: <a href="mailto:admin@uptronpowertronics.in"> admin@uptronpowertronics.in</a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 paddingLeft">
                    <div class="footerInfoTitle">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="useLink">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Right To Information</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>e-Tender</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Digital India</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>e-Services Portal</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Downloads</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                        <h4>Gallery</h4>
                    </div>
                    <div class="footerGallery row" id="FooterDiv">
                        @*<div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery01.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery02.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery03.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery04.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery05.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery06.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/gallery/gallery07.jpeg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/home/footer-gallery-8.jpg);"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="gallery-v2.html" style="background-image: url(../img/home/footer-gallery-9.jpg);"></a>
                        </div>*@
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="footerInfoTitle">
                        <h4>Send Enquiry</h4>
                    </div>
                    <div class="footerText">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="Email1" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Phone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary first-btn">send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COPY RIGHT -->
    <div class="clearfix copyRight">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-4 col-xs-12">
                    <ul class="list-inline socialLink">
                        <li class="first leaf"><a href="accessibility-statement.html" title="">Accessibility Statement</a></li>
                        <li class="leaf"><a href="copyright-policy.html" title="">Copyright Policy</a></li>
                        <li class="leaf"><a href="disclaimer.html" title="">Disclaimer</a></li>
                        <li class="leaf"><a href="hyper-linking-policy.html" title="">Hyper Linking Policy</a></li>
                        <li class="leaf"><a href="terms-and-conditions.html" title="">Terms and Conditions</a></li>
                        <li class="leaf"><a href="privacy-policy.html" title="">Privacy Policy</a></li>
                        <li class="last leaf"><a href="contact-us.html" title="">Help</a></li>
                    </ul>
                    <!--<ul class="list-inline socialLink">
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>-->
                </div>
                <div class="col-sm-4 col-sm-pull-8 col-xs-12">
                    <div class="copyRightText">
                        <p>Copyright &copy; 2018  <a target="_blank" href="http://uptronpowertronics.in">Uptron Powertronics Limited</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        fillFooterImage();
    });
    function fillFooterImage() {
        $.ajax({
            dataType: 'Json',
            type: 'POST',
            async: true,
            url: '/Home/GetAllGalleryMasterList',
            contentType: 'Application/Json; charset = utf-8',
            success: function (data) {
                var htmlDOM = '';
                $.each(data, function (i, item) {
                    htmlDOM += '<div class="col-xs-4">' +
                        //'<a href="' + /Home/Services ? Id = item.Id + '" style="background-image: url(' + item.Photo + ');"></a>' +
                        '<a href="/Home/GalleryDetail/' + item.Id + '" style="background-image: url(' + item.GalleryImage + ');"></a>' +
                        '</div>';
                });
                $('#FooterDiv').html(htmlDOM);
            },
            failure: function (response) {
                alert(response);
            },
            Error: function (response) {
                alert(response, responseText);
            }
        });
    }
</script>