<div class="blogSidebar">
    <div class="panel panel-default">
        <div class="panel-heading">Important Links</div>
        <div class="panel-body">
            <ul class="list-unstyle categoryList">
                <li><a href="#"><i class="fa fa-file"></i> Information Security Guidelines</a></li>
                <li><a href="#"><i class="fa fa-align-right"></i> Important GO's & Circular</a></li>
                <li><a href="#"><i class="fa fa-clipboard"></i> E-Citizen</a></li>
                <li><a href="#"><i class="fa fa-bell-o"></i> How to associate with UPL</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="secotionTitle">
    <h2 class="bg">News Updates</h2>
</div>
<div class="demo6 demof">
    <ul id="NewUpdateDiv">
        @*<li>

            <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
        </li>
        <li class="odd">
            <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
        </li>
        <li>
            <p><img src="~/img/NewIcon.gif" style="height:15px;width:40px;" /><a href="~/img/UPL_BusinessMeet 2018-11-02 11.29.10.pdf" target='_blank'>Business Associate Meet with UPL at 5th Nov 2018<br /><img src="~/img/readmore.jpg" style="height:15px;width:40px;" /></a></p>
        </li>*@
    </ul>
</div>
<!--<div class="panel-footer"> <p>Read More...</p></div>-->
<script type="text/javascript">
    $(document).ready(function () {
        fillNewsUpdateList();
    });
    function fillNewsUpdateList() {
        let li = $('#NewUpdateDiv');
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Home/GetNewsAndUpdateList',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                int = 1;
                var jsonData = JSON.parse(data);
                var htmlDOM = '';
                $.each(jsonData, function (i, item) {
                    htmlDOM += '<li style="width:270px;"><p>';
                    if (item.IsNew === true) {
                        htmlDOM += '<img src="../img/NewIcon.gif" style="padding-right:5px;height:15px;width:40px;"/>';
                    }
                    htmlDOM += '<a href="../Home/ViewNewsFile/' + item.Id + '" target="_blank">' + item.Title;
                    htmlDOM += '<br/><img src="../img/readmore.jpg" style="height:15px;width:40px;"/></a></p></li>';
                });
                li.html(htmlDOM);
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>