<div class="secotionTitle">
    <h2 class="bg">Our Service</h2>
</div>
<div class="blogSidebar">
    <div class="panel panel-default recentBlogPosts">
        <div class="panel-body" id="ServicesLeftDiv">
        </div>
    </div>
</div>