<!-- PARTNER LOGO SECTION -->
<div class="clearfix brandArea client-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="pertnerSlider" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" id="PartnerDiv">
                        @*<div class="item active">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-1.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-2.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-3.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-4.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-5.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-6.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-7.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-8.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-9.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brandn-10.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brand-1.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brand-2.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brand-3.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-12">
                                        <div class="partnersLogo clearfix">
                                            <img src="~/img/home/brand-4.jpg" alt="Image Partner">
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <!-- Left and right controls -->
                    @*<a class="left carousel-control" href="#pertnerSlider" role="button" data-slide="prev">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#pertnerSlider" role="button" data-slide="next">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--END PARTNER LOGO SECTION -->

<script src="~/Scripts/App/General/HomeWeb.js"></script>
