
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}


<section class="content-wrapper" role="main">
    <div class="content">
        <div class="content-hero content-hero-lg">
            <img class="content-hero-embed" src="../images/dummy/people4.jpg" alt="cover">
            <div class="content-hero-overlay bg-grd-blue"></div>
            <div class="content-hero-body">
            </div>
            <div class="content-hero-bar">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="float-bar clearfix">
                            <div class="float-bar-brand">
                                <a class="kit-avatar kit-avatar-128 no-padding border-white" href="#">
                                    <img alt="cover" src="../images/dummy/uifaces22.jpg">
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <div class="visible-xs">
                                    <h2 class="display-name media-heading text-teal"><i class="fa fa-user"></i>Neyaz Ahmad</h2>
                                    <p class="text-muted mb-4x"><span class="mr-2x"><i class="fa fa-envelope"></i>neyazahmad001@gmail.com</span> <span><i class="fa fa-mobile"></i> 9308557590</span></p>
                                </div>
                                <div class="hidden-xs">
                                    <h1 class="media-heading text-light">Neyaz Ahmad</h1>
                                    <p class="mb-4x text-light"><span class="mr-2x"><i class="fa fa-envelope"></i>neyazahmad001@gmail.com</span> <span><i class="fa fa fa-mobile"></i> 9308557590</span></p>
                                </div>
                            </div><!-- /.media-body -->
                        </div><!-- /.float-bar -->
                    </div><!-- /.cols -->

                    <div class="col-lg-12">
                        <h4 class="text-muted"><a href="#" aria-label="home"><i class="fa fa-home"></i></a> Employee Profile</h4>
                    </div><!-- /.cols -->

                </div><!-- /.row -->
            </div><!-- /.content-hero-bar -->
        </div><!-- /.content-hero -->
        <div class="content-body">

            <!-- ============================================
            LATEST POSTS LIST
            =============================================== -->
            <div class="panel" data-fill-color="true">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="white-space:nowrap">
                                            <thead>
                                                <tr class="bg-primary">
                                                    <th colspan="15">Employee Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><label control-label">Full Name</label></td>
                                                    <td><span class="headline"><strong>Amarnath Kumar jha</strong></span></td>

                                                    <td><label control-label">Father Name</label></td>
                                                    <td><span class="headline"><strong>Aman Kumar Jha</strong></span></td>

                                                    <td><label control-label">Mother Name</label></td>
                                                    <td><span class="headline"><strong>Kesri Devi</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Date of Birth</label></td>
                                                    <td><span class="headline"><strong>11/08/1990</strong></span></td>

                                                    <td><label control-label">Gender</label></td>
                                                    <td><span class="headline"><strong>Male</strong></span></td>

                                                    <td><label control-label">Marital Status</label></td>
                                                    <td><span class="headline"><strong>NEVER_MARRIED</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Religion</label></td>
                                                    <td><span class="headline"><strong>MUSLIM</strong></span></td>

                                                    <td><label control-label">Identity Details</label></td>
                                                    <td><span class="headline"><strong>AadharCard</strong></span></td>

                                                    <td><label control-label">Identity Number</label></td>
                                                    <td><span class="headline"><strong>4565645645677</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Mobile No</label></td>
                                                    <td><span class="headline"><strong>9035887955</strong></span></td>

                                                    <td><label control-label">Alternate No</label></td>
                                                    <td><span class="headline"><strong>7646545456</strong></span></td>

                                                    <td><label control-label">Email Id</label></td>
                                                    <td><span class="headline"><strong>add@gmail.com</strong></span></td>
                                                </tr>
                                                <tr>
                                                    <td><label control-label">Pin Code</label></td>
                                                    <td><span class="headline"><strong>800004</strong></span></td>

                                                    <td><label control-label">State Name</label></td>
                                                    <td><span class="headline"><strong>Andhra Pradesh</strong></span></td>

                                                    <td><label control-label">City Name</label></td>
                                                    <td><span class="headline"><strong>Adilabad</strong></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            @*<div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Full Name</p>
                            <span class="headline"><strong>Neyaz Ahmad</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Father Name</p>
                            <span class="headline"><strong>dvdvd</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Mother Name</p>
                            <span class="headline"><strong>vdsvdsvs</strong></span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Date of Birth</p>
                            <span class="headline"><strong>11/08/1990</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Gender</p>
                            <span class="headline"><strong>Male</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Marital Status</p>
                            <span class="headline"><strong>Never Married</strong></span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Religion</p>
                            <span class="headline"><strong>Muslim</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Identity Details</p>
                            <span class="headline"><strong>Aadhar</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Identity Number</p>
                            <span class="headline"><strong>445644654</strong></span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Mobile No</p>
                            <span class="headline"><strong>9308557590</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Alternate No</p>
                            <span class="headline"><strong>9162171163</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>Email Id</p>
                            <span class="headline"><strong>neyazahmad001@gmail.com</strong></span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Pin Code</p>
                            <span class="headline"><strong>800004</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>State Name</p>
                            <span class="headline"><strong>Bihar</strong></span>
                        </div>
                        <div class="col-xs-4">
                            <p>City Name</p>
                            <span class="headline"><strong>Patna</strong></span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Resume</p>
                            <span class="headline">
                                <strong>
                                    <a href="#" id="_view" target="_blank" class="btn btn-primary">View</a>
                                </strong>
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <p>Image</p>
                            <span class="headline">
                                <strong>
                                    <a href="#" id="_view" target="_blank" class="btn btn-primary">View</a>
                                </strong>
                            </span>
                        </div>
                    </div>
                    <hr class="col-md-10" />
                    <div class="clearfix"></div>
                </div>*@
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="6">Qualification (Please Enter Highest to Lowest Qualification)</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Qualification</th>
                                            <th>Board/Institute/University</th>
                                            <th>Years Of Passing</th>
                                            <th>% Marks</th>
                                            <th>Specialization</th>
                                            <th>Course type</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>fdfvdvdv</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>zxvxvxz</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>zxvzxvzxvzxvzxv</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>svvs</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>svsvs</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>zsvsvsv</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="6">
                                                No Qualification added
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="6">Present Employment Status</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Name Of Organization</th>
                                            <th>Post Held</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Industry type</th>
                                            <th>Salary Drawn(PM)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>vxvv</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>zxvzxvxz</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mt-lg">
                                                            <span class="headline"><strong>zxvzxvzx</strong></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mt-lg">
                                                            <span class="headline"><strong>zxvzxvzx</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mt-lg">
                                                            <span class="headline"><strong>zxvzxvzx</strong></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mt-lg">
                                                            <span class="headline"><strong>zvdv</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <span class="headline"><strong>zxvzxv</strong></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group mt-lg">
                                                    <div class="input-group input-group-icon">
                                                        <span class="headline"><strong>zxvzxvzxv</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="6">
                                                No Employement detail added
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="white-space:nowrap">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th colspan="15">Employee Skill</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label control-label">Language Known</label></td>
                                            <td><span class="headline"><strong>English , Hindi</strong></span></td>

                                            <td><label control-label">Skill Information</label></td>
                                            <td><span class="headline"><strong>No Skill added</strong></span></td>

                                            <td><label control-label">Experience in Works</label></td>
                                            <td><span class="headline"><strong>3 Yrs Experience</strong></span></td>
                                        </tr>
                                        <tr>
                                            <td><label control-label">Are you Person with disabilities</label></td>
                                            <td><span class="headline"><strong>No</strong></span></td>

                                            <td><label control-label">Are You Ex-Serviceman</label></td>
                                            <td><span class="headline"><strong>No</strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group mt-lg">
                            <label class="col-sm-6 control-label">Language Known</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                        <strong>English , Hindi</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-lg">
                            <label class="col-sm-6 control-label">Skill Information</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                        <span>No Skill added</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-lg collapse" id="field" aria-expanded="false">
                            <div class="input-group input-group-icon">
                                <span class="headline"><strong>xzczxcxz</strong></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group mt-lg">
                            <label class="col-sm-6 control-label">Experience in Works </label>
                            <div class="col-sm-6">
                                <span class="headline"><strong>Experience</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-lg">
                            <label class="col-sm-6 control-label">Are you Person with disabilities </label>
                            <div class="col-sm-6">
                                        <span>Yes</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Are You Ex-Serviceman </label>
                            <div class="col-sm-3">
                                        <strong>Yes</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                </div><!-- /.panel -->
                <div class="container">
                </div>
            </div><!-- /.content-body -->
            <!-- Template Setups -->
            <div class="modal fade" id="templateSetup">
                <div class="modal-dialog">
                    <!-- modal-content -->
                    <div class="modal-content"></div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.templateSetup -->
        </div><!-- /.content -->
    </div>
</section>
   
<section class="content-wrapper" role="main">
    <div class="content">
        No Detail found
    </div>
</section>
   